<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-fb">
        <div class="container">
        <a class="navbar-brand mr-4" href="/"><i class="fab fa-monero"></i> Marketplace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <form action="{% url 'search' %}" method="get" class="input-group input-group-sm" id="search-bar">
                    <input type="text" class="form-control" aria-describedby="search-btn" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                    <div class="input-group-append">
                        <button class="btn btn-light-grey" type="submit" id="search-btn"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link"  href="/">Home</a>
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
    </nav>
</header>