{% extends "base.html" %}
{% block content %}
<div class="container">
{%  if sold_products|length != 0  %}
<div class="accordion" id="accordionExample">
  <div>
    <div class="card-header" style="background: #e9ebee; border-bottom:none">
      <h4 class="mb-2">
        <span style="font-size: 16px"><b>SOLD</b></span>
        <button style="float:right;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Show Listings</button>
      </h4>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      
        {% for product in sold_products %}
                  <div class="card" style="padding: 15px">
                    <div class="media">
                      {% for photo in product.productalbum_set.all %} 
                        {% if forloop.counter == 1 %} 
                          <img class="img-fluid" src="{{ photo.image.url }}" width="130" height="130"/> &nbsp;&nbsp;&nbsp;
                        {% endif %}
                      {% empty %} 
                        <img class="img-fluid" src="http://placehold.it/120" alt=""/> &nbsp;&nbsp;&nbsp;
                      {% endfor %}   
                      <div class="media-body">
                        <b>
                          <p class="mt-0" style="margin-bottom: 5px; font-size: 14px">
                           <span style="color: #c0392b;">SOLD</span>
                            - {{ product.name }}  
                            <small>{{ product.created_at | timesince  }} </small> 
                          </p>
                        </b>
                        <p style="font-size: 13px">  {{ product.description }} </p>
                        <a class="btn btn-fb btn-sm" id="mark-available-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#availableModal" href="{% url 'mark-available' product.id %}">Mark as Available</a>

                        <div class="btn-group dropup">
                          <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Manage
                          </button>
                          <div class="dropdown-menu">
                            <a id="delete-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#deleteModal" href="{% url 'delete-post' product.id %}"><span class="fas fa-times"></span> Delete</a>

                            <a id="edit-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#update_post_modal" href="{% url 'post-update' product.id %}"><span class="fas fa-pen"></span> Edit</a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div><br>
          {% empty %}
        {% endfor %}
    </div>
   </div>
</div>
{% endif %}


  {% for stock in products_w_stocks %}
      <div class="card" style="padding: 10px">
        <div class="media">
          {% for photo in stock.product.productalbum_set.all %} 
            {% if forloop.counter == 1 %} 
              <img class="img-fluid" src="{{ photo.image.url }}" width="130" height="130"/> &nbsp;&nbsp;&nbsp;
            {% endif %}
          {% empty %} 
            <img class="img-fluid" src="http://placehold.it/120" alt=""/> &nbsp;&nbsp;&nbsp;
          {% endfor %}   
          <div class="media-body">
            <b>
              <p class="mt-0" style="margin-bottom: 5px; font-size: 14px">
               {% if stock.stock_on_hand > 0 %}<span style="color: #71a830;">IN STOCK</span>
               {% else %}<span style="color: #c0392b; ">OUT OF STOCK</span> {% endif %}
                - {{ stock.product.name }}  
                <small>{{ stock.product.created_at | timesince  }} </small> 
                {% if stock.product.is_draft == True %} <span style="color: #c0392b; font-size: 12px">(DRAFT)</span> {% endif %}
              </p>
            </b>

            <p style="font-size: 13px"> <b>{{ stock.stock_no }}</b> - {{ stock.product.description }} </p>

              {% if stock.product.is_draft == True %}
                  <a class="btn btn-fb btn-sm" id="publish-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#publishModal" href="{% url 'publish-draft' stock.product.id %}">Publish Draft</a>
              {% else %}
                  {% if stock.stock_on_hand <= 0 %}
                      <a class="btn btn-fb btn-sm" id="restock-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#restockModal" href="{% url 'restock' stock.product.id %}">Restock Item</a>

                      <a class="btn btn-fb btn-sm" id="mark-sold-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#soldModal" href="{% url 'mark-sold' stock.product.id %}">Mark as Sold</a>
                  {% else %}
                      <a href="" class="btn btn-fb btn-sm">View Buyers</a> 
                  {% endif %}
              {% endif %}
   

            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage
              </button>
              <div class="dropdown-menu">
                <a id="delete-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#deleteModal" href="{% url 'delete-post' stock.product.id %}"><span class="fas fa-times"></span> Delete</a>

                <a id="edit-btn" class="dropdown-item btn-sm" data-toggle="modal" data-target="#update_post_modal" href="{% url 'post-update' stock.product.id %}"><span class="fas fa-pen"></span> Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div><br>
  
    {% empty %}
    
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">No Products Yet</h1>
          <p class="lead">Start by Creating Your First Product. </p>
        </div>
      </div> 
   
  {% endfor %}
</div> 
<!--Update Modal-->
{% include "includes/update-post-modal-template.html" %}

<!--Warning Delete Modal-->
{% include "includes/delete-modal.html" %}

<!--Warning Publish Modal-->
{% include "selling-page/publish-modal.html" %}

<!--Warning Available Modal-->
{% include "selling-page/make-available-modal.html" %}

<!--Warning Sold Modal-->
{% include "selling-page/sold-modal.html" %}

<!--Restock Modal-->
{% include "selling-page/restock-modal-template.html" %}

{% endblock content %}